+hidden-input('sheettype')(value=0).sheettype

.type-selector.flex-wrap
    .col100
        h1(data-i18n='choosesheetcopy')
    .col100
        select(name='attr_freebooterorfaction')
            optgroup
                option() #{translation["freebooterorfaction"]}
                option() #{translation["freebootersheet"]}
                option() #{translation["factionsheet"]}
                

.freebootersheet.flex-wrap

    //Left Column
    .col30.generalinfo
        .label.title(data-i18n='freebooter')
        +text-input('freebooter_name', 'entername')
        .label.title(data-i18n='alignment')
        +text-input('alignment', 'enteralignment')
        .label.title(data-i18n='relationships')
        +textarea('relationships', 'enterrelationships')

    //Middle Column
    .col40.tracks.flex-wrap
        .col50
            .label.title.stresslabel(data-i18n='stress')
        .col50
            .label.title.harmlabel(data-i18n='harm')
        .trackholder
            .lefttrack
                .label(data-i18n='relaxed')
                .sublabel(data-i18n='+minor')
            .centertrack
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress1','hexbox')
                    .hexboxcontainer
                        +checkbox('harm1','hexbox')
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress2','hexbox')
                    .hexboxcontainer
                        +checkbox('harm2','hexbox')
            .righttrack 
                .label(data-i18n='healthy')
                .sublabel(data-i18n='nopenalty')

        .trackspacer
        .trackholder
            .lefttrack
                .label(data-i18n='tense')
                .sublabel(data-i18n='+moderate')
            .centertrack
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress3','hexbox')
                    .hexboxcontainer
                        +checkbox('harm3','hexbox')
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress4','hexbox')
                    .hexboxcontainer
                        +checkbox('harm4','hexbox')
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress5','hexbox')
                    .hexboxcontainer
                        +checkbox('harm5','hexbox')
            .righttrack 
                .label(data-i18n='wounded')
                .sublabel(data-i18n='reducedeffect')
 
        .trackspacer
        .trackholder
            .lefttrack
                .label(data-i18n='overloaded')
                .sublabel(data-i18n='+major')
            .centertrack
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress6','hexbox')
                    .hexboxcontainer
                        +checkbox('harm6','hexbox')
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress7','hexbox')
                    .hexboxcontainer
                        +checkbox('harm7','hexbox')
                .centertrackrow
                    .hexboxcontainer
                        +checkbox('stress8','hexbox')
                    .hexboxcontainer
                        +checkbox('harm8','hexbox')
            .righttrack 
                .label(data-i18n='incapacitated')
                .sublabel(data-i18n='noactions')

    //Right Column
    .col30.possessions.flex-wrap
        .col50
            .title.label(data-i18n='loadout')
            .hexboxcontainer
                +checkbox('lightloadout', 'hexbox')
                    .loadoutlabel(data-i18n='light')
            .hexboxcontainer
                +checkbox('mediumloadout', 'hexbox')
                    .loadoutlabel(data-i18n='medium')
            .hexboxcontainer
                +checkbox('heavyloadout', 'hexbox')
                    .loadoutlabel(data-i18n='heavy')

            .title.label.purselabel(data-i18n="purse")


        .col50
            .title.label(data-i18n='stash')

    .col33.culture
    .col33.lineage
    .col33.devotion

.factionsheet.flex-wrap
    h1 Faction Sheet