@import url('https://fonts.googleapis.com/css?family=Cardo:ital,400;0,400;0,700;ital,700&display=swap');

$urlbase: "https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main";

$lightest: #d8d8d8;
$lighter: #c7c7c7;
$darkgrey: #b4b4b4;
$versiongrey: #aaa;
$greyborder: #8c8c8c;
$headergrey: #aaa;
$lightblack: #777;
$lighterblack: #555;
$fontblack: #333;

.charsheet {
	flex-wrap: wrap;
	color: $fontblack;
	position: relative;
	top: -11px;
	line-height: 18px;
	cursor: default;
	box-sizing: border-box;
	padding: 0 !important;
	font-family: "Cardo";
	font-size: 16px;
	min-width: 800px;

	div, span, textarea, ul, li, span, label {
		box-sizing: border-box;
	}

	button[type=roll] {
		text-shadow: none;
		background: transparent;
		box-shadow: none;
		font-weight: bold;
		font-family: inherit;
		outline: none;
		border-radius: 0;
		transition: all 0.2s;
		&.btn::before {
			content: "";
		}
	}

	label {
		margin: 0;
		padding: 0;
		display: flex;
		width: auto;
		color: #000;
		font: inherit;
		flex-wrap: wrap;


		input[type=checkbox], input[type=radio] {
			position: absolute;
		}

		&:hover {
			input[type=checkbox] + span, input[type=radio] + span {
				opacity: 0.7;
			}
		}
	}

	input[type=text], textarea {
		border: none;
		font-family: inherit;
		font-size: 16px;
		background: transparent;
		width: 100%;
		padding: 0;
		margin: 5px 0 10px 0;
		color: $fontblack;
		border-radius: 0;
		transition: all 0.2s, height 0.4s;
	}

	input[type=text] {
		text-align: center;
	}



	textarea {
		resize: vertical;
		display: block;
		&:active {
			transition: height 0s;
		}
	}

	input[type=number] {
		border-color: $lighter;
		color: $fontblack;
		box-shadow: none;
	}

	input[type=checkbox], input[type=radio] {
		opacity: 0;
		z-index: 1;
		-moz-appearance: none;
		position: relative;
		+ span {
			cursor: pointer;
			display: inline-block;
			transition: all 0.2s, opacity 0s;
			position: absolute;
		}
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    $lighter;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    $lighter;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    $lighter;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    $lighter;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
	   color:    $lighter;
	}
	
	::placeholder { /* Most modern browsers support this now. */
	   color:    $lighter;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		position: relative;
		&::before {
			transform: rotate(45deg) scale(0.9);
			font-family: Georgia, serif;
			content: '■';
			left: 0;
			top: -.1em;
			position: absolute;
		}
	}

	button{
		background-color: white;
		background-image: none;
		border-radius: 0;
	}


	button[type=roll].sheet-inherit, input[type=text].sheet-inherit {
		font: inherit;
		color: inherit;
		text-transform: inherit;
		letter-spacing: inherit;
	}
	.sheet-space-after::after {
		content: ' ';
	}
}

.sheet-focus-shadow[value="1"] ~ .sheet-wrapper {
	textarea, input[type=text], input[type=number] {
		&:focus {
			box-shadow: inset 0 0 1px 1px rgba(66,66,66,.3), 0 0 2px 1px rgba(66,66,66,.3);
		}
	}
}
.sheet-hidden {
	display: none !important;
}

.sheet-wrapper {
	position:relative;
}


/* REPEATING SECTION CONTROLS */
/* REPEATING SECTION CONTROLS */
.repcontrol {
	display: flex;
	.repcontrol_edit {
		margin-left: auto;
		order: 1;
	}
	button {
		background: transparent;
		color: $lightblack;
		border-radius: 0;
		border-color: $darkgrey;
		transition: all 0.2s;
		font-family: pictos;
		font-size: 0;
		font-weight: bold;
		padding: 5px 3px 2px;
		line-height: 8px;
		margin-top: 5px;
		&:hover {
			color: black;
			border-color: black;
			background: $lighter;
		}
		&.repcontrol_edit::after { content: "(" }
		&.repcontrol_add::after { content: "&" }
		&.repcontrol_edit::after, &.repcontrol_add::after { font-size: 12px }
	}
}
.repcontainer.editmode + .repcontrol button.repcontrol_edit::after { content: ")" }
.sheet-free-repcontrol .repcontrol{ margin-top: 3px }



/* COLUMN LAYOUT */
.flex {
	display: flex;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
}

.flex-center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right-column {
	padding-left: 5px;
}
.col10 {
	width:10%;
	flex-shrink:0;
}
.col15 {
	width:15%;
	flex-shrink:0;
}
.col42 {
	width: 42.5%;
	flex-shrink:0;
}
.col47 {
	width: 47%;
	flex-shrink:0;
}
.col53 {
	width: 53%;
	flex-shrink:0;
}
.col37 {
	width: 37%;
	flex-shrink:0;
}

.col30 {
	width: 30%;
	flex-shrink:0;
}
.col33 {
	width: 33.3%;
	flex-shrink:0;
}

.col40 {
	width: 40%;
	flex-shrink:0;
}
.col24b {
	width: 24.25%;
	flex-shrink:0;
}
.col50 {
	width: 50%;
	flex-shrink:0;
}
.col52b {
	width: 52%;
	flex-shrink:0;
}
.col55 {
	width: 55%;
	flex-shrink:0;
}
.col45{
	width: 45%;
	flex-shrink:0;
}
.col63 {
	width: 63%;
	flex-shrink:0;
}
.col100 {
	width: 100%;
	flex-shrink:0;
}

/* FONT STYLES */
.label,
input[type=text].label,
textarea.label,
button[type=roll].label {
	font-weight: bold;
	color:$fontblack;
	padding: 0;
	font-size: 100%;
}
.sublabel {
	color:$fontblack;
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}
.smallcaps,
input[type=text].smallcaps,
textarea.smallcaps {
	font-variant: small-caps;
	font-weight: bold;
}

.text {
	color: black;
	text-align: justify;
	padding: 3px 0 2px;
	line-height: 13px;
}
.title {
	display:flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-shrink:0;
	flex-basis:100%;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: black;
	-webkit-text-fill-color: white;
	text-shadow:
	2px 2px 0 #000,
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	 1px 1px 0 #000;

	background-color: $headergrey !important;
	padding:3px 5px;
	border-radius: 0;
	border:none !important;
} 

button.title{
	width: 100%;
}



//CSS for hiding sheet pieces based on checked items
//This checks the value of the item with the sheettype class
.sheettype[value = "0"] ~ .freebootersheet,
.sheettype[value = "2"] ~ .freebootersheet,
.sheettype[value = "0"] ~ .factionsheet,
.sheettype[value = "1"] ~ .factionsheet,
.sheettype[value = "1"] ~ .type-selector, 
.sheettype[value = "2"] ~ .type-selector {
	display:none;
}

.sheettype[value="1"] ~ .freebootersheet,
.sheettype[value="2"] ~ .factionsheet,
.sheettype[value="0"] ~ .type-selector {
	display:flex;
}


.type-selector{
	margin-top:30px;
	justify-content: center;
	text-align: center;

	select {
		margin-top: 30px;
	}
}






.tracks{
	padding-left: 5px;
	padding-right: 5px;

	.stresslabel{
		margin-right: 5px;
	}
	.harmlabel{
		margin-left: 5px;
	}

}
.trackholder{
	display:flex;
	flex-wrap: nowrap;
	width: 100%;
}

.trackspacer {
	margin: 5px 25px 0;
}

.lefttrack,
.righttrack{
	flex-grow:1;
	flex-shrink: 1;
	flex-basis: 50%;
	padding-top: 10px;
}
.lefttrack{
	justify-content: right;
	text-align: right;
}
.centertrack{
	$xpboxwidth:20px;
	$xpboxpadding:1px;
	
	.centertrackrow{
		display:flex;
		width:$xpboxwidth*2 + $xpboxpadding*4 + 20;	
	}
	.hexboxcontainer{
		background-color: $headergrey;
		width:$xpboxwidth+2*$xpboxpadding;
		padding-left: $xpboxpadding;
		padding-right: $xpboxpadding;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	/* CHECKBOXES */
	.hexbox {
		margin-right: -$xpboxwidth;
	}
	input.hexbox, .hexbox + span {
		height: $xpboxwidth;
		width: $xpboxwidth;
		flex: 0 0 auto;
	}

	.hexbox + span {
		background-image: url($urlbase+"/Images/hex-v-unchecked.svg");
	}
	.hexbox:checked + span {
		background-image: url($urlbase+"/Images/hex-v-checked.svg");
	}
	.hexbox:hover + span {
		opacity: 0.7;
	}
}

.burnelim{
	width: 100%;

	position: relative;
	flex-wrap: wrap;

	.burnelimcenter1{ width:200px}
	.burnelimcenter2{ width:230px}
	.burnelimcenter3{ width:180px}
	.burnelimcenter4{ width:130px}
	.burnelimcenter5{ width:80px}

	.beleft,
	.beright{
		display: flex;
		flex-grow:1;
		flex-shrink: 1;
		flex-basis: 50%;
		margin-top:10px;

		border: 3px solid;
		border-image-slice: 1;
		border-width: 2px 0;
		border-image-source: linear-gradient(to right,  rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

	}
	.beleft{
		justify-content: right;
		border-image-source: linear-gradient(to left,  rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

	}

	.noborder{
		border: none;
	}

	$xpboxwidth:20px;
	$xpboxpadding:1px;
	
	.hexboxcontainer{
		width:$xpboxwidth+2*$xpboxpadding;
		padding-left: $xpboxpadding;
		padding-right: $xpboxpadding;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	/* CHECKBOXES */
	.hexbox {
		margin-right: -$xpboxwidth;
	}
	input.hexbox, .hexbox + span {
		height: $xpboxwidth;
		width: $xpboxwidth;
		flex: 0 0 auto;
	}

	.hexbox + span {
		background-image: url($urlbase+"/Images/dia-unchecked.svg");
	}
	.hexbox:checked + span {
		background-image: url($urlbase+"/Images/dia-checked.svg");
	}
	.hexbox:hover + span {
		opacity: 0.7;
	}

	
}

.burnelim::before{
	content:"";
	background-image: url($urlbase+"/Images/8.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;

	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;


}

.possessions{
	.title{
		margin: 0 5px;
	}

	.purselabel{
		margin-top:20px;
	}

	$xpboxwidth:60px;
	$xpboxcontainerwidth: 60px;
	$xpboxmargin:1.5*$xpboxwidth - 0.5*$xpboxcontainerwidth;
	$xpboxpadding:0;
	
	.loadoutlabel{
		color:$headergrey;
		display: flex;
		height: $xpboxwidth;
		width: $xpboxwidth;
		justify-content: center;
		align-items: center;
		font-size: 12px; 
	}

	.downtimebuttons {
		text-align: center;
		margin-top: 10px;
		button {
			margin:2px;
			padding:2px;
		}
	}

	.hexboxcontainer{
		background-image: linear-gradient(90deg, #fff 30%, $headergrey 30%, $headergrey 70%, #fff 67%);
		background-size: 100% 100%;
	
		width:$xpboxcontainerwidth+2*$xpboxpadding;
		padding-left: $xpboxpadding;
		padding-right: $xpboxpadding;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* CHECKBOXES */
	.hexbox {
		margin-right: -$xpboxmargin;
	}
	input.hexbox, .hexbox + span {
		height: $xpboxwidth;
		width: $xpboxwidth;
		flex: 0 0 auto;
	}

	.hexbox + span {
		background-image: url($urlbase+"/Images/hex-v-unchecked.svg");
	}
	.hexbox:checked + span {
		background-image: url($urlbase+"/Images/hex-v-checked.svg");
	}
	.hexbox:hover + span {
		opacity: 0.7;
	}
}

.sixcheckbox{

	background-image: linear-gradient(90deg, #fff 30%, $headergrey 30%, $headergrey 70%, #fff 67%);
	background-size: 100% 100%;

	$xpboxwidth:30px;
	$xpboxpadding:0;
	
	$width:2.5*$xpboxwidth;
	width:$width;
	height: 1.1*$width;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	/* CHECKBOXES */

	.hexbox {
		position:absolute !important;
		margin-right: -$xpboxwidth;
	}
	.hexbox1{
		top:0;
		left:$width/2 - $xpboxwidth/2;
	}
	.hexbox2{
		top:0.4330*$xpboxwidth;
		left:0;
	}
	.hexbox3{
		top:0.4330*$xpboxwidth;
		left:1.5*$xpboxwidth;
	}
	.hexbox4{
		top:1.299*$xpboxwidth;
		left:0;
	}
	.hexbox5{
		top:1.299*$xpboxwidth;
		left:1.5*$xpboxwidth;
	}
	.hexbox6{
		left:$width/2 - $xpboxwidth/2;
		top:1.732*$xpboxwidth;
	}

	.underlay{
		position: absolute;
		height: $xpboxwidth * 0.8660;
		width: $xpboxwidth;
		left:$width/2 - $xpboxwidth/2;
		top:0.866*$xpboxwidth;
		background-image: url($urlbase+"/Images/hex-h-checked.svg");

		display: flex;
		justify-content: center;
		align-content: center;
	  
	}

	.sixboxlabel{
		color:$headergrey;
		text-align: center;
		font-size: 1.2em;
		line-height: $xpboxwidth * 0.8660 + 2;
	}


	input.hexbox, .hexbox + span {
		height: $xpboxwidth * 0.8660;
		width: $xpboxwidth;
		flex: 0 0 auto;
	}

	.hexbox + span {
		background-image: url($urlbase+"/Images/hex-h-unchecked.svg");
	}
	.hexbox:checked + span {
		background-image: url($urlbase+"/Images/hex-h-checked.svg");
	}
	.hexbox:hover + span {
		opacity: 0.7;
	}

}

.culture,
.lineage,
.devotion{
	margin:20px 0 0;
	padding: 0px 5px;

	.playbook-selector {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		select {
			font-size: 16px;
			width:100%;
			height:34px;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 1px;
			color: black;
			-webkit-text-fill-color: white;
			text-shadow:
			2px 2px 0 #000,
			-1px -1px 0 #000,  
			1px -1px 0 #000,
			-1px 1px 0 #000,
			 1px 1px 0 #000;
		
			background-color: $headergrey;
			padding:3px 5px;
			border-radius: 0;
		}
	

	}
	.repitem{

		display:flex;
		flex-wrap: wrap;

		$boxwidth:20px;
							
		.advancecheckholder{
			width: $boxwidth;
		}
		/* CHECKBOXES */
		.advancecheck {
			margin-right: -$boxwidth;
		}
		input.advancecheck, .advancecheck + span {
			height: $boxwidth;
			width: $boxwidth;
			flex: 0 0 auto;
		}
	
		.advancecheck + span {
			background-image: url($urlbase+"/Images/dia-unchecked.svg");
		}
		.advancecheck:checked + span {
			background-image: url($urlbase+"/Images/dia-checked.svg");
		}
		.advancecheck:hover + span {
			opacity: 0.7;
		}

		input[type=text]{
			text-align: left;
			width: 90%;
			height: $boxwidth;
			font-weight: 700;
			margin: 0 0 0 5px;
		}
	
	}

	input[type=text]{
		border: none;
		font-size: 16px;
		outline:none;
		text-align: center;	
	}

	input[type=text].drive{
		font-style: italic;
	}



	textarea{
		width: 100%;
		height: 110px;
		outline: none;
		border:none;
		font-weight: 300;
	}
}




.xpholder{
	display: flex;
	align-items: center;
	justify-content: center;

	border-style: solid;
	border-width: 2px 0 0;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  

	$xpboxwidth:20px;
	$xpboxpadding:1px;
	
	width:100%;
	padding-left: $xpboxpadding;
	padding-right: $xpboxpadding;

	margin-left: 5px;
	margin-right: 5px;
	
	.resetbox,
	.resetbox + span{
		display: none !important;
	}

	/* CHECKBOXES */
	.xpbox {
		margin-right: -$xpboxwidth;
		z-index: 1;
	}
	input.xpbox, .xpbox + span {
		height: $xpboxwidth;
		width: $xpboxwidth;
		flex: 0 0 auto;
		position: relative !important;

	}

	.xpbox:hover + span {
		opacity: 0.7;
	}
	.xpbox + span {
		background-image: url($urlbase+"/Images/hex-v-checked.svg");
	}
	.xpbox:checked + span {
		background-image: url($urlbase+"/Images/hex-v-checked.svg");
	}
	.xpbox:checked ~ .xpbox + span{
		background-image: url($urlbase+"/Images/hex-v-unchecked.svg");
	}

}

.statblockholder{
	display: flex;
	justify-content: space-around;
	width: 100%;

	$boxwidth:20px;

	.statholder{
		position: relative;
		width: $boxwidth * 2;
	}
							
	/* CHECKBOXES */
	.statbox {
		position:absolute !important;
		margin-right: -$boxwidth;
	}

	.statbox0{
		display: none !important;
	}

	.statbox1{
		top:0;
		left:$boxwidth/2;
	}
	.statbox2{
		top:$boxwidth/2;
		left:0;
	}
	.statbox3{
		top:$boxwidth/2;
		left:$boxwidth;
	}	
	.statbox4{
		top:$boxwidth;
		left:$boxwidth/2;
	}
	.statbox + span {
		height: $boxwidth;
		width: $boxwidth;
		flex: 0 0 auto;
	}

	input.statbox {
		margin:$boxwidth/4;
		height: $boxwidth/2;
		width: $boxwidth/2;
		flex: 0 0 auto;
	}

	.statbox + span {
		background-image: url($urlbase+"/Images/dia-checked.svg");
	}
	.statbox:checked + span {
		background-image: url($urlbase+"/Images/dia-checked.svg");
	}

	.statbox:checked ~ .statbox + span{
		background-image: url($urlbase+"/Images/dia-unchecked.svg");
	}

	.statbox:hover + span {
		opacity: 0.7;
	}

	.label{
		position: absolute;
		top:$boxwidth*2;
		left:0;
		width: 100%;
		text-align: center;
		font-weight: 400 !important;
		font-size: 14px !important;
		display: flex;
		justify-content: center;
		border:0;	
		margin:0 !important;
		padding:0 !important;
	
	}

}


